[submodule "G-DBSCAN/spdlog"]
	path = DBSCAN/third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "G-DBSCAN/cxxopts"]
	path = DBSCAN/third_party/cxxopts
	url = https://github.com/jarro2783/cxxopts
